<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.indexedlist.css" rel="stylesheet" />
		<link href="../../css/List.css" rel="stylesheet"/>
		<script src="../../js/jquery.min.js"></script>
		<link href="../../css/pageStyle.css" rel="stylesheet" type="text/css"/>
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			.mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		</style>
	</head>

	<body>
		<!--
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">尽职调查列表</h1>
		</header>
		
		<div claszs=" mui-input-row mui-search" style="height: 38px;position: absolute;width: 100%;top:47px;">
			<input type="search" class="mui-input-clear " placeholder="搜索企业" style="height: 40px;width: 100% ;">
		</div>
		<div class="mui-content mui-scroll-wrapper" id="offCanvasSideScroll" style="top: 58px;bottom: 0px;">
			<div class=" mui-scroll" >-->
				<!--div class="mui-indexed-list-inner" id="middle- menu"-->
					<!--div class="mui-indexed-list-empty-alert">没有数据</div-->
					<!--
					<ul class="mui-table-view mui-table-view-chevron" id='mainLeftMenu' >
					
					</ul>-->
				<!--/div-->
			<!--	
			</div>
		</div>-->
		<section class="aui-flexView">
			<header class="aui-navBar aui-navBar-fixed">
				<a href="javascript:;" class="aui-navBar-item">
					<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
				</a>
				<div class="aui-center">
					<span class="aui-center-title">尽职调查列表</span>
				</div>
				</a>
			</header>
			<section class="aui-scrollView" id="pullRefresh">
				<div class="aui-order-title" id="mainLeftMenu">
				</div>
			</section>
		</section>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.indexedlist.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
            pullRefresh: {
                container: '#pullRefresh',//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
                up: {
                    height: 50,//可选.默认50.触发上拉加载拖动距离
                    auto: false,//可选,默认false.自动上拉加载一次
                    contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: pullfreshFunc //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                }
            }
        });
			mui.ready(function() {
				
			});
			window.onload = function(){       	
					mui('#offCanvasSideScroll').scroll();     
			};
			//得到index-menu的数据
			var userid = '';
			
			mui.plusReady(function() {
				//得到登陆页面的参数
				//			      alert(lawyerid);
				//var lawyerid;
				// var self = plus.webview.currentWebview();
				var storage=window.localStorage;
				userid=storage.userid;
				//alert(userid);
				sendRequest(userid);
				var aniShow = "slide-in-right";
				//关于backbutton和menubutton两个按键的说明，在iOS平台不存在，故需隐藏
				if (!mui.os.android) {
					var span = document.getElementById("android-only")
					if (span) {
						span.style.display = "none";
					}
				}

				var subWebview = null,
					template = null,
					index = null;
				//获得主页面webview引用；
				index = plus.webview.currentWebview().opener();
				var _self = plus.webview.currentWebview();
				_self.drag({
					direction: "left",
					moveMode: "followFinger"
				}, {
					view: index,
					moveMode: "follow"
				}, function(e) {});

			});

			mui('.mui-indexed-list-inner').on('tap', '#ajia', function() {
				//alert('go');
				mui.openWindow({
					url: 'company-details.html'
				});
			});
var flag = true, counter = 1, pageSize = 10;
									function pullfreshFunc() {
										setTimeout(function () {
											mui('#pullRefresh').pullRefresh().endPullupToRefresh(!flag);//参数为true代表没有更多数据了。
											sendRequest(userid);
										}, 500);
							
									};
			function sendRequest(userid) {
				//alert(lawyerid);
				$.ajax({
					//url: 'http://api.map.baidu.com/location/ip?ak=ia6HfFL660Bvh43exmH9LrI6',   
					//url: 'http://118.24.8.104:8081/Goode/ApiLogin',   
					//url: 'http://localhost:8080/Goode/ApiLogin/findfunctions',
					url: 'http://121.42.29.124:8180/Goode/Apijinzhidiaocha/findByPagel',
					//url: 'http:118.24.8.104:8081/Goode/ApiLogin',
					timeout: 30000,
										data: {
											userid: userid,
											times:counter
										},
					type: 'GET',
					dataType: "json",
					success: function(List) {
						//alert(data[0].companyid);
						// alert(userid);
						var data=[];
						data=List.list;
						flag = !(data[0] == null || data[0] == "" || !data[0]||data.length<10);
						if (flag) {
								counter++;
						}
						var mainstr = '';
						var sonstr = '';
						var status='';
						var detail='';
						//			alert(userid);
						for (var i = 0; i < data.length; i++) {
							//是一级菜单
							//alert(data.name);
							switch(parseInt(data[i].status)){
								case 10:
									status='未提交给律师';
									break;
								case 20:
									status='企业提交,未读';
									break;
								case 30:
									status='企业提交,已读';
									break;
								case 40:
									status='已分配给助理';
									break;
								case 45:
									status='助理已确认';
									break;
								case 50:
									status='助理已处理';
									break;
								case 55:
									status='助理返回 , 已读';
									break;
								case 60:
									status='已结案 , 待评分';
									break;
								case 70:
									status='已结案，已评分';
									break;
							}
							if(data[i].pingjia=='10'&&data[i].plday<3)
								status+=',待评价';
							if(data[i].pingjia=='20')
								status+=',已评价';
							if(data[i].pingjia=='10'&&data[i].plday>3)
								status+=',默认好评';
							if(data[i].status<'40'&&data[i].status>'19')
								detail='处理案件|';
// 							if(data[i].status<'56'&&data[i].status>'49')
// 								detail='处理案件|';
// 							if(data[i].status=='60')
// 								detail='评分';
// 							if(data[i].status<'60'&&data[i].status>'20')
// 								detail+='结案';
							//alert(data[i].id);
						
// 							mainstr += '<li class="mui-table-view-cell  mui-collapse " id="'+ data[i].jinzhdchid+'" name="'+data[i].status+'">'
// 								+'<div class="companyName">'+data[i].name+'</div>'+'&nbsp&nbsp&nbsp'+'<div class="tnayifang">';
								
// 								if(data[i].lianxireng!=null&&data[i].lianxireng!=''){
// 									mainstr +=data[i].lianxireng;
// 								}
// 								else{
// 									mainstr +='暂无联系人';
// 								}
// 								mainstr +='</div>'+
// 								'<span style="font-size:3px;color: #6D6D72;padding-left: 10px;position: relative;">' + status +
// 								'</span>' +
// 								'<span style="font-size:3px;color: #6D6D72;padding-left: 10px;position: relative;">' + data[i].responselawername +
// 								'</span>' +
// 								'<span class="mui-badge mui-badge-inverted details" style="color: #0062CC; " id="123" >' +
// 								'<a  style="color: #0062CC; " class="look">查看|' +
// 								'</a>'+
// 								'<a  style="color: #0062CC; " class="deal">'+detail+
// 								'</a>'+
// 								'</span>'+
// 								'</li>';
								mainstr += '<div class="aui-order-box" id="' + data[i].jinzhdchid +'">' +
									'<a href="javascript:void(0);" class="aui-well-item">'+
										'<div class="aui-well-item-bd">';
										if(data[i].diaochaduixiang!=null&&data[i].diaochaduixiang=="个人")
											mainstr +='<h3 class="headName">'+data[i].diaochaduixiang+":";
										else 
											mainstr +='<h3>'+data[i].diaochaduixiang+":";
										if(data[i].duixiangxinming!=null&&data[i].duixiangxinming!="")
											mainstr +=data[i].duixiangxinming+'</h3>';
										else
											mainstr +="暂无"+'</h3>';
										mainstr += '</div>' +
								'<span class="aui-well-item-fr" name="' + data[i].status + '">' + status + '</span>' +
								'<span style="display:none">' + data[i].name + '</span>' +
								'</a>';	
										
							if(data[i].expecttime!=null&&data[i].expecttime!='')
							mainstr +='<p class="aui-order-fl aui-order-time">设定时限：'+data[i].expecttime+'</p>';
							else
							mainstr +='<p class="aui-order-fl aui-order-time">设定时限：'+'暂无'+'</p>';
							if(data[i].submittime!=null&&data[i].submittime!='')
							mainstr +='<p class="aui-order-fl aui-order-address">提交时间：'+data[i].submittime+'</p>';
							else
							mainstr +='<p class="aui-order-fl aui-order-address">提交时间：'+'暂无'+'</p>';
							if(data[i].totaltime!=null&&data[i].pasttime!=''&&data[i].totalday!=null&&data[i].pasttime!='')
							mainstr +='<p class="aui-order-fl aui-order-door">已用时间：'+data[i].totalday+'天 '+data[i].pasttime+'</p>';
							else
							mainstr +='<p class="aui-order-fl aui-order-door">已用时间：'+data[i].pasttime+'</p>';
							if(data[i].responselawername!=null&&data[i].responselawername!="")
							mainstr +='<p class="aui-order-fl aui-order-address">负责律师：'+data[i].responselawername+'</p>';
							else
							mainstr +='<p class="aui-order-fl aui-order-address">负责律师：'+'暂无'+'</p>';
							if(data[i].lianxiren!=null&&data[i].lianxiren!='')
							mainstr +='<p class="aui-order-fl aui-order-address">联系人：'+data[i].lianxiren+'</p>';
							else
							mainstr +='<p class="aui-order-fl aui-order-address">联系人：'+'暂无'+'</p>';
							if(data[i].lianxifangshi!=null&&data[i].lianxifangshi!='')
							mainstr +='<p class="aui-order-fl aui-order-address">联系方式：'+data[i].lianxifangshi+'</p>';
							else
							mainstr +='<p class="aui-order-fl aui-order-address">联系方式：'+'暂无'+'</p>';
							
							if(data[i].ygscjf!=null&&data[i].ygscjf!='')
							mainstr+='<p class="aui-order-fl aui-order-address">尽职调查积分：'+data[i].jzdcjf+'</p>';
							else
							mainstr+='<p class="aui-order-fl aui-order-address">尽职调查积分：'+'暂无'+'</p>';
							mainstr +='</div>';
	
							$("#mainLeftMenu").append(mainstr);
							mainstr = '';
							detail='';
						}
						
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						//alert(errorThrown)
						//alert(url)
						alert("ERRor")
					}
				});
			};
			mui('#mainLeftMenu').on('tap', 'div', function() {
				//alert('go');
				
				// var functionName=this.getAttribute('class');
				// alert('tap'+functionName);
// 				var htscid=this.parentElement.parentElement.id;
// 				var status=this.parentElement.parentElement.getAttribute('name');
//  				var LawyerName=this.parentElement.previousElementSibling.innerHTML;
//  				var companyName=this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML;
//  				var tnayifang=this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML;
// 				var statusStr=this.parentElement.previousElementSibling.previousElementSibling.innerHTML;
				// alert(htqcid);
				var functionName = this.getAttribute('class');
				//  聂士超修改  var htscid=this.parentElement.parentElement.id;
				var jzdcid = this.getAttribute("id");
				// alert(jzdcid);
				var status = this.children[0].children[1].getAttribute("name");
				// alert(status);
				var LawyerName = this.children[4].innerHTML;
				// alert(LawyerName);
				var companyName = this.children[0].children[2].innerHTML;
				// alert(companyName);
				var statusStr = this.children[0].children[1].innerHTML;
				// alert(statusStr);
				mui.openWindow({
					url: 'JzdcXQ.html',							
					id: 'JzdcXQ.html',
					extras:{
						functionName: functionName,
						jzdcid: jzdcid,
						status: status,
						statusStr: statusStr,
						LawyerName: LawyerName,
						companyName: companyName,
					},
				});
			});
		</script>
	</body>

</html>
